* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.elegant {
    width: 104px;
    height: 30px;
    top: 1px;
    left: 21px;
    gap: 0px;
    opacity: 0px;

}

.own-btn {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 6px;
}

.nav-item button {
    background: transparent !important;
}

.cross {
    width: 21px;
    height: 17px;
    top: 15px;
    left: 21px;
    gap: 0px;
    opacity: 0px;

}

.cart {
    width: 21px;
    height: 17px;
    top: 15px;
    left: 21px;
    gap: 0px;
    opacity: 0px;

}

.o {
    background-color: brown;
    width: 540px;
    /* height: 411.69px; */
    gap: 0px;
    opacity: 0px;

}

.t {
    background-color: aquamarine;
    width: 570px;
    height: 411.69px;
    gap: 0px;
    opacity: 0px;

}

.front-img {
    width: 100%;
    height: inherit;
}

.front-head-1 {
    font-family: Poppins;
    font-size: 65px;
    font-weight: 600;
    line-height: 84px;
    text-align: left;

}

.front-head-2 {
    font-family: Poppins;
    font-size: 65px;
    font-weight: 600;
    line-height: 84px;
    text-align: left;
    color: #ECAD15;

}

.para {
    width: Fixed (459px)px;
    height: Fixed (72px)px;
    top: 242px;
    left: 15px;
    gap: 0px;
    opacity: 0px;

}

.front-btn {
    border-radius: 0 !important;
}

/* Second POrtion........................................... */

.two {
    /* background-color: burlywood; */
    border: 2px solid blue;
    width: 60%;
}

.tf {
    border: 2px solid purple;
}

.sec-heading {
    font-weight: bolder;
    top: 57px;
    left: 15px;
    gap: 0px;
    opacity: 0px;

}

.Sec-img {
    /* translate: -65px; */
    width: 100%;
    height: inherit;
    /* top: 212px;
    left: 119px; */
    /* gap: 0px;
    opacity: 0px; */
    border: 2px solid yellow;
    /* background-color: red; */
}

/* Third Section...................................... */

.Third {
    background-color: chartreuse;
}

.yellow {
    color: #ECAD15 !important;
}

.card {
    border: 2px dashed gray !important;
}

.cabb {
    width: 102px !important;
}

.brinjal {
    width: 95px !important;
}

.Bottle-Gourd {
    width: 120px !important;

}

.Lady-finger {
    width: 154px !important;
}

.Apple {
    width: 78px !important;
}

.Potato {
    width: 138px !important;
}

.Capsicum {
    width: 104px !important;
}

.Pumpkin-Patch {
    width: 109px !important;
}

.Green-chilli {
    width: 153px !important;
}

.Kof-Radish {
    width: 154px !important;
}



/* Fourth Portion */

.fourth-fluid {
    background-color: #F9F9F9;

}

.fourth-img {
    width: 100%;
    height: inherit;
}

.Fourth {
    border: 2px solid orangered;
    width: 75%;
}

/* Media Query */

@media screen and (max-width:426px) {
    .nav-item {
        margin-bottom: 8px !important;
    }
}

@media screen and (max-width:768px) {

    .two,
    .Fourth {
        border: 2px solid blue;
        width: 100%;
    }

    .fourth_para {
        margin-top: 28px;
    }
}

@media screen and (m) {}