* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.elegant {
    width: 104px;
    height: 30px;
    top: 1px;
    left: 21px;
    gap: 0px;
    opacity: 0px;

}

.own-btn {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 6px;
}

.nav-item button {
    background: transparent !important;
}

.cross {
    width: 21px;
    height: 17px;
    top: 15px;
    left: 21px;
    gap: 0px;
    opacity: 0px;

}

.cart {
    width: 21px;
    height: 17px;
    top: 15px;
    left: 21px;
    gap: 0px;
    opacity: 0px;

}

.o {
    background-color: brown;
    width: 540px;
    /* height: 411.69px; */
    gap: 0px;
    opacity: 0px;

}

.t {
    background-color: aquamarine;
    width: 570px;
    height: 411.69px;
    gap: 0px;
    opacity: 0px;

}

.front-img {
    width: 100%;
    height: inherit;
}

.front-head-1 {
    font-family: Poppins;
    font-size: 65px;
    font-weight: 600;
    line-height: 84px;
    text-align: left;

}

.front-head-2 {
    font-family: Poppins;
    font-size: 65px;
    font-weight: 600;
    line-height: 84px;
    text-align: left;
    color: #ECAD15;

}

.para {
    width: Fixed (459px)px;
    height: Fixed (72px)px;
    top: 242px;
    left: 15px;
    gap: 0px;
    opacity: 0px;

}

.front-btn {
    border-radius: 0 !important;
}

/* Second POrtion........................................... */

.two {
    /* background-color: burlywood; */
    border: 2px solid blue;
    width: 60%;
}

.tf {
    border: 2px solid purple;
}

.sec-heading {
    font-weight: bolder;
    top: 57px;
    left: 15px;
    gap: 0px;
    opacity: 0px;

}

.Sec-img {
    /* translate: -65px; */
    width: 100%;
    height: inherit;
    /* top: 212px;
    left: 119px; */
    /* gap: 0px;
    opacity: 0px; */
    border: 2px solid yellow;
    /* background-color: red; */
}

/* Third Section...................................... */

.Third {
    background-color: chartreuse;
}

.yellow {
    color: #ECAD15 !important;
}

.card {
    border: 2px dashed gray !important;
}

.cabb {
    width: 102px !important;
}

.brinjal {
    width: 95px !important;
}

.Bottle-Gourd {
    width: 120px !important;

}

.Lady-finger {
    width: 154px !important;
}

.Tomato {
    width: 78px !important;
}

.Potato {
    width: 138px !important;
}

.Capsicum {
    width: 104px !important;
}

.Pumpkin-Patch {
    width: 109px !important;
}

.Green-chilli {
    width: 153px !important;
}

.Kof-Radish {
    width: 154px !important;
}



/* Fourth Portion */

.fourth-fluid {
    background-color: #F9F9F9;

}

.fourth-img {
    width: 100%;
    height: inherit;
}

.Fourth {
    border: 2px solid orangered;
    width: 75%;
}

/* fifth section.............................. */

.fifth-main {
    /* border: 2px solid rgb(62, 206, 18); */
}

.fifth {
    background-color: #a9ed2b;
    width: 75% !important;
}

.outer-col {
    display: flex;
    justify-content: flex-start;
    gap: 7px;
}

.five {
    border: 3px solid blue;
}

.five-two {
    border: 3px solid palevioletred;
}

.fifth-para {
    color: rgb(96, 95, 95);
}

.sm-Tomato {
    width: 65px !important;
}

.sm-app {
    text-align: right;
}

/* Sixth Section */

.sixth-fluid {
    background-color: #FAFAFA;

}

.sixth-inner {
    background-color: #c8dd0b;
    width: 75% !important;
}

input,
textarea {
    border-bottom: 2px solid gray !important;
}

/* input{
    width: 50% !important;
    height: 50px;
}
textarea{
    width: 50% !important;

} */
.send-btn {
    color: white !important;
    border-radius: 35px !important;
}

.iFrame {
    /* border: 3px solid rebeccapurple; */
}

.ratio {
    border-width: 5px;
    border-style: outset;
}

/* footer */
.footer {
    background-color: #000000;
}

.footer a {
    text-decoration: none;
}

/* Media Query */

@media screen and (max-width:426px) {
    .nav-item {
        margin-bottom: 8px !important;
    }

    .fifth,
    .sixth-inner {
        width: 100% !important;
    }

    .five {
        width: 100%;
    }
}

@media screen and (max-width:768px) {

    .two,
    .Fourth {
        border: 2px solid blue;
        width: 100%;
    }

    .fourth_para {
        margin-top: 28px;
    }

    .fifth-img {
        width: 100%;
    }

    .sm-Tomato {
        display: none;
    }

    .sm-app {
        display: none;
    }

    .footer-1,
    .footer-2,
    .footer-3 {
        text-align: left;
    }
}

@media screen and (max-width:374px) {
    .fifth-img {
        width: 100%;
    }
}